In [1]:
import pandas as pd

Tamil Nadu

In [21]:
df = pd.read_html("https://stopcorona.tn.gov.in/beds.php")[0]

In [22]:
df

    S.NO      District                               Institution  \
    S.NO      District                               Institution
0      1      Ariyalur                              A.S Hospital
1      2      Ariyalur                           Golden Hospital
2      3  Chengalpattu                       Annai Arul Hospital
3      4  Chengalpattu      Chennai Emergency care Centre Pammal
4      5  Chengalpattu                        Dr. Rela Institute
..   ...           ...                                       ...
445  446      Tiruppur                  Vel Hospital, Dharapuram
446  447      Tiruppur                    Vel Hospital,Udumalpet
447  448       Madurai                           Vijaya Hospital
448  449       Madurai  Vikram Multispeciality hospital, Madurai
449  450       Chennai       Westminster HealthCare,Nungambakkam

    BEDS ALLOCATED FOR COVID AND SUSPECTED CASES                  \
                                           Total Occupied Vacant
0                                             25       13     12
1                                             31       10     21
2                                             40       40      0
3                                             10       10      0
4                                              0      300   -300
..                                           ...      ...    ...
445                                            0        0      0
446                                            0        0      0
447                                            0        0      0
448                                            0        0      0
449                                            0        0      0

    OXYGEN SUPPORTED BEDS                 NON-OXYGEN SUPPORTED BEDS  ...  \
                    Total Occupied Vacant                     Total  ...
0                       8        5      3                        12  ...
1                      23       10     13                         3  ...
2                      35       35      0                         0  ...
3                       7        7      0                         3  ...
4                     130      130      0                         0  ...
..                    ...      ...    ...                       ...  ...
445                     0        0      0                         0  ...
446                     0        0      0                         0  ...
447                     0        0      0                         0  ...
448                     0        0      0                         0  ...
449                     0        0      0                         0  ...

           ICU BEDS                 VENTILATOR                  \
    Vacant    Total Occupied Vacant      Total Occupied Vacant
0        4        5        0      5          2        0      2
1        3        5        0      5          5        0      5
2        0        5        5      0          2        2      0
3        0        0        0      0          0        0      0
4        0       20       20      0          6        6      0
..     ...      ...      ...    ...        ...      ...    ...
445      0        0        0      0          0        0      0
446      0        0        0      0          0        0      0
447      0        0        0      0          0        0      0
448      0        0        0      0          0        0      0
449      0        0        0      0          0        0      0

            Last updated Contact Number               Remarks
            Last updated Contact Number               Remarks
0    2021-04-22 13:49:50            0.0                   NaN
1    2021-04-22 12:23:32            0.0  Report on 22.04.2021
2    2021-04-22 11:54:36            0.0            22.04.2021
3    2021-04-22 11:35:49            0.0            22.04.2021
4    2021-04-21 09:43:39            NaN               21-4-21
..                   ...            ...                   ...
445  2021-04-22 13:36:46            NaN                   NaN
446  2021-04-22 13:37:35            NaN                   NaN
447  2021-04-22 13:38:13            NaN                   NaN
448  2021-04-22 13:38:51            NaN                   NaN
449  2021-04-22 13:39:29            NaN                   NaN

[450 rows x 21 columns]

In [6]:
df['BEDS ALLOCATED FOR COVID AND SUSPECTED CASES']

     Total  Occupied  Vacant
0       25        13      12
1       31        10      21
2       40        40       0
3       10        10       0
4        0       300    -300
..     ...       ...     ...
445      0         0       0
446      0         0       0
447      0         0       0
448      0         0       0
449      0         0       0

[450 rows x 3 columns]

In [18]:
df = pd.read_html("../data/CH_data.html", skiprows=4)[0]

In [20]:
df.columns = df.loc[0]
df.drop([0], axis = 0)

,S.No,District Name,Hospital Name,Hospital Category,Total Number Of covid Beds,Number Of Beds with O2 support,Vacant Beds with O2 support,Number Of Beds without O2 support,Vacant Beds without O2 support,Isolation bed outside hospital,...,Total HDU Beds,HDU Beds Vacant,Total ICU Beds,ICU Beds Vacant,Total Number of Ventilator,Ventilator Vacant,Total Beds Available,Empanelled in Ayushman / DKBSSY (Yes/No),Last updation Date,Time
1,1,SURGUJA,Sai Hostel Sarguja,Covid Care Center,50,4,4,46,35,0,...,0,0,0,0,0,0,39,Yes,21/04/2021,18:14
2,2,SURGUJA,Jeevan Jyoti Hospital SURGUJA,Private Hospital,62,20,0,0,0,0,...,12,0,30,0,7,0,0,Yes,22/04/2021,10:23
3,3,SURGUJA,CHC MAINPAT,Covid Care Center,35,15,15,20,18,0,...,0,0,0,0,0,0,33,Yes,21/04/2021,18:22
4,4,SURGUJA,CHC BATOULI,Covid Care Center,4,4,4,0,0,0,...,0,0,0,0,0,0,4,Yes,21/04/2021,18:18
5,5,SURGUJA,CHC DHOURPUR,Covid Care Center,20,10,10,10,10,0,...,0,0,0,0,0,0,20,Yes,21/04/2021,18:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,348,BALOD,"ITI Khallari, Gunderdehi",Covid Care Center,60,8,7,52,13,0,...,0,0,0,0,0,0,20,Yes,21/04/2021,17:14
349,349,BALOD,"ITI Dhanora, Gurur",Covid Care Center,92,0,0,92,29,0,...,0,0,0,0,0,0,29,Yes,22/04/2021,10:59
350,350,BALOD,Livelyhood College Balod,Covid Care Center,274,10,0,264,144,0,...,0,0,0,0,0,0,144,Yes,22/04/2021,11:20
351,351,BALOD,District Hospital Balod,Dedicated Covid Hospital,100,55,0,9,0,0,...,20,0,16,0,16,0,0,Yes,22/04/2021,10:59
352,NaN,NaN,NaN,Total,27148,8658,2109,14382,8715,36,...,1411,164,2661,205,982,237,11229,NaN,NaN,NaN

In [23]:
pd.read_csv('../data/hospitals_cleaned.csv')

          state                                            pointer
0      Taminadu              https://stopcorona.tn.gov.in/beds.php
1  Chattisgarh   https://cg.nic.in/health/covid19/RTPBedAvailab...
2   West Bengal  https://www.wbhealth.gov.in/uploaded_files/cor...
3       Odisha   https://health.odisha.gov.in/pdf/List-COVID-fa...
4    Karnataka   https://covid19.karnataka.gov.in/new-page/Desi...